node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/build_db
/cache
static/data
prebuilt_data/precincts-with-results-spatial-index.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
