/* Global application styles can go here. */

html,
body {
  overflow: hidden; /* Hide scrollbars */
  touch-action: none; /* Prevent bounce */
  overscroll-behavior: none; /* Prevent pull-to-refresh on iOS */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */

  font-family: sans-serif;

  --toolbar-margin: 0.9375em;
  --icon-size: 1.8em;
  --icon-button-size: 2.3em;
  --panel-background-color: #fffc;
  --panel-border-radius: 0.4em;
  --panel-padding-h: 1em;
  --panel-padding-v: 0.5em;

  /* Suppress default OS long press actions on mobile */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  touch-action: manipulation; /* Prevent default touch behaviors like context menu */
}

body.touch-device {
  --icon-size: 2.5em; /* Increased size for touch devices */
  --icon-button-size: 4em; /* Increased size for touch devices */
}
